<header class="topbar">
  <div class="left-section">
    <button class="toggle-button" (click)="onToggleSidebar()">
      <span class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
    <div class="separator"></div>
    <img src="../../../assets/img/cordero.png" alt="Logo" class="logo" />
  </div>

  <div class="right-section">
    <ion-icon name="apps" class="apps-icon"></ion-icon>
    <div class="separator"></div>
    <img src="../../../assets/img/perfil.png" alt="Foto" class="user-img" />
    <div class="text-info">
      <span class="nombre">Nombre ejemplo</span>
      <span class="codigo">Código: 123456789</span>
    </div>
  </div>
</header>

