<aside class="sidebar">
  <ul class="menu-list">
    <li>
      <a routerLink="/practicantes" routerLinkActive="active">
        <span class="active-indicator"></span>
        <ion-icon name="people-outline"></ion-icon>
        <span class="label">Practicantes</span>
      </a>
    </li>
    <li>
      <a routerLink="/convenios" routerLinkActive="active">
        <span class="active-indicator"></span>
        <ion-icon name="business"></ion-icon>
        <span class="label">Solicitudes Convenios</span>
      </a>
    </li>
    <li>
      <a routerLink="/empresas" routerLinkActive="active">
        <span class="active-indicator"></span>
        <ion-icon name="briefcase-outline"></ion-icon>
        <span class="label">Empresas</span>
      </a>
    </li>
    <li>
      <a routerLink="/tipos" routerLinkActive="active">
        <span class="active-indicator"></span>
        <ion-icon name="document-outline"></ion-icon>
        <span class="label">Tipo de Práctica</span>
      </a>
    </li>
    <li>
      <a routerLink="/seguimiento" routerLinkActive="active">
        <span class="active-indicator"></span>
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <span class="label">Seguimientos</span>
      </a>
    </li>
  </ul>

  <div class="bottom-buttons">
    <button (click)="logout()">
      <span class="label">Cerrar Sesión</span>
      <ion-icon name="log-out-outline"></ion-icon>
    </button>
  </div>

</aside>

